:root {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  min-height: 100vh;
}
body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  scroll-behavior: smooth;
}
.ffs { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
.ffss { font-family: Tahoma, Arial, sans-serif; }
.fs { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.fs14 { font-size: 1.4rem; }
.fs18 { font-size: 1.8rem; }
.fs32 { font-size: 3.2rem; }
.fs40 { font-size: 4.0rem; }
